/* #custom-navbar {
    color: black;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 0px 15px grey;
    background-color: white;
    font-size: 20px;
    margin-bottom: 30px;
} */
/* 
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}

.logo {
    width: 80%;
    height: auto;
}
.helo {
    height: 20px;
} */