<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-tob custom-navbar">
    <div class="container">
        <a class="navbar-brand" id="booktrade" href="{% url 'homepage' %}">Findbest</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'recommend:find_index' %}">Znajdź</a>
                <a class="nav-item nav-link" href="#">Ranking</a>
                <a class="nav-item nav-link" href="#">Blog</a>
            </div>
        </div>
    </div>
</nav>